jade/course_content.jade
doctype html
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title Технопредприниматель уровня 90 
  link(href="stylesheets/sheet.css" rel="stylesheet")

html
include ./includes/header.jade

main
  .container
    h1
      | Course content
    h2.episode-name
      | Open episode name
    table.course-nav
      tbody
        tr.course-nav__item--checked
          td.course-nav__icon
          td.course-nav__text
            | Complete step
          td.course-nav__cost 20
            span diam

        tr.course-nav__item
          td.course-nav__icon
          td.course-nav__text
            a(href="#") Current step
          td.course-nav__cost 20
            span diam

        tr.course-nav__item--locked
          td.course-nav__icon
          td.course-nav__text
            | Locked step
          td.course-nav__cost 20
            span diam
    h2.episode-name.locked
      | Locked episode name

include ./includes/footer.jade
include ./includes/scripts.jade

dist/course_content.html
<!DOCTYPE html><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><title>Технопредприниматель уровня 90 </title><link href="stylesheets/sheet.css" rel="stylesheet"></head><html></html><header><div class="container"><div class="navbar"><div class="navbar__logo"><a><i class="navbar__logo-level90"></i></a><div class="navbar__cource-name"><i aria-hidden="true" class="fa fa-bars menu-init"></i><a>Course title</a></div></div><div class="navigation"><div class="navigation__bg"></div><div class="navigation__tabs"><ul><li><a class="navigation__tabs-tab1 active"><span>Курс</span></a></li><li><a class="navigation__tabs-tab1"><span>Медиатека</span></a></li><li><a class="navigation__tabs-tab1"><span>Трансляции</span></a></li><li><a class="navigation__tabs-tab1"><span>Сообщество</span></a></li></ul></div><nav class="navigation__right-menu"><div class="navigation__right-menu-cross"><image src="stylesheets/3_organisms/header/cross.png"></image></div><ul><li><a href="#" class="navigation__right-menu-mobile">Курс</a></li><li><a href="#" class="navigation__right-menu-mobile">Медиатека</a></li><li><a href="#" class="navigation__right-menu-mobile">Трансляции</a></li><li><a href="#" class="navigation__right-menu-mobile">Сообщество</a></li><li><a>Профиль</a></li><li><a>Выход</a></li></ul></nav><div class="navbar__user"><a href="#" class="navbar__user-link menu-init"><div class="navbar__user-name">User name</div><div class="navbar__user-image"><image src="images/userpic-placeholder.png"></image></div><i aria-hidden="true" class="fa fa-caret-down"></i></a></div></div></div></div></header><main><div class="container"><h1>Course content</h1><h2 class="episode-name">Open episode name</h2><table class="course-nav"><tbody><tr class="course-nav__item--checked"><td class="course-nav__icon"></td><td class="course-nav__text">Complete step</td><td class="course-nav__cost">20<span>diam</span></td></tr><tr class="course-nav__item"><td class="course-nav__icon"></td><td class="course-nav__text"><a href="#">Current step</a></td><td class="course-nav__cost">20<span>diam</span></td></tr><tr class="course-nav__item--locked"><td class="course-nav__icon"></td><td class="course-nav__text">Locked step</td><td class="course-nav__cost">20<span>diam</span></td></tr></tbody></table><h2 class="episode-name locked">Locked episode name</h2></div></main><footer><div class="link-bar"><div class="container"><div class="row"><div class="col s8 m8 l8"><div class="link-bar__links"><a href="http://level90.ru" target="_blank">О проекте</a><a href="mailto:lesenka@level90.ru?Subject=From%20Level90" target="_top">Поддержка</a></div></div><div class="col s4 m4 l4"><div class="link-bar__socbuttons"><ul><li><a href="https://vk.com/level90"><i class="link-bar__socbuttons-vk"></i></a></li><li><a href="https://www.facebook.com/School.Level90"><i class="link-bar__socbuttons-fb"></i></a></li><li><a href="https://twitter.com/Lesenka_LeveL90"><i class="link-bar__socbuttons-tw"></i></a></li></ul></div></div></div></div></div></footer><script src="javascripts/jquery/jquery.min.js"></script><script src="javascripts/right-menu.js"></script><script src="javascripts/js-trigger.js"></script><script src="javascripts/inputfile.js"></script><script src="javascripts/tabs.js"></script>
