jade/landing.jade
doctype html
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title Технопредприниматель уровня 90 
  link(href="stylesheets/sheet.css" rel="stylesheet")

html
  include ./includes/header.jade

//- for example set step for progressbar
//- var step = "42%"
main
  .container
    h2 Технопредприниматель уровня 90
      small интерактивный курс

    .row
      .col.l6
        image.img-responsible(src="images/course-intro.png")
      .col.l6
        p.
          В августе этого года в городе Альметьевск (респ. Татарстан) будет прохоидть предпринимательское реалити-шоу «Точка взлета». В процессе которого мы будем приглашать известных практиков ИТ индстурии и опрашивать их в формате интервью, как построить успешную ИТ-комнпаию.
        p.
          20 резидентов попробуют все их советы на практике (в программе акселерации). А вы сможете не только наблюдать за этим процессом в режиме «онлайн» через систему «LeveL90», но и получить теже самые полезные и материалы: интервью, задания, книги, фильмы и так далее.
  .container.center
    p.
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae alias, odio totam quae minus reiciendis neque distinctio voluptatibus accusantium aliquid laboriosam, facere harum fuga reprehenderit vero veniam tenetur nemo. Veritatis voluptatum totam quasi nobis, et? Natus minus officia praesentium, nam deserunt laborum incidunt quia? Laudantium beatae maxime accusantium animi recusandae repellat voluptatem quam ipsum iste ipsam, libero quaerat, hic culpa! Nihil praesentium commodi quisquam atque soluta ex provident assumenda eos, amet esse facilis error, optio minima libero ipsa vitae numquam reprehenderit cupiditate. Qui inventore veritatis, omnis dolorem et harum debitis nobis aspernatur possimus hic asperiores praesentium mollitia, excepturi nesciunt facilis.

  .container.center
    p Уже через пару месяцев мы выпустим клиентскую версию из beta-тестирования. А сейчас у вас есть уникальная возможность помочь нам в улучшении сисемы, попробуя ее бесплатно!
    p
      a.btn.blue.block.wide Пройти интерактивный курс

include ./includes/footer.jade
include ./includes/scripts.jade

dist/landing.html
<!DOCTYPE html><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><title>Технопредприниматель уровня 90 </title><link href="stylesheets/sheet.css" rel="stylesheet"></head><html><header><div class="container"><div class="navbar"><div class="navbar__logo"><a><i class="navbar__logo-level90"></i></a><div class="navbar__cource-name"><i aria-hidden="true" class="fa fa-bars menu-init"></i><a>Course title</a></div></div><div class="navigation"><div class="navigation__bg"></div><div class="navigation__tabs"><ul><li><a class="navigation__tabs-tab1 active"><span>Курс</span></a></li><li><a class="navigation__tabs-tab1"><span>Медиатека</span></a></li><li><a class="navigation__tabs-tab1"><span>Трансляции</span></a></li><li><a class="navigation__tabs-tab1"><span>Сообщество</span></a></li></ul></div><nav class="navigation__right-menu"><div class="navigation__right-menu-cross"><image src="stylesheets/3_organisms/header/cross.png"></image></div><ul><li><a href="#" class="navigation__right-menu-mobile">Курс</a></li><li><a href="#" class="navigation__right-menu-mobile">Медиатека</a></li><li><a href="#" class="navigation__right-menu-mobile">Трансляции</a></li><li><a href="#" class="navigation__right-menu-mobile">Сообщество</a></li><li><a>Профиль</a></li><li><a>Выход</a></li></ul></nav><div class="navbar__user"><a href="#" class="navbar__user-link menu-init"><div class="navbar__user-name">User name</div><div class="navbar__user-image"><image src="images/userpic-placeholder.png"></image></div><i aria-hidden="true" class="fa fa-caret-down"></i></a></div></div></div></div></header></html><main><div class="container"><h2>Технопредприниматель уровня 90<small>интерактивный курс</small></h2><div class="row"><div class="col l6"><image src="images/course-intro.png" class="img-responsible"></image></div><div class="col l6"><p>В августе этого года в городе Альметьевск (респ. Татарстан) будет прохоидть предпринимательское реалити-шоу «Точка взлета». В процессе которого мы будем приглашать известных практиков ИТ индстурии и опрашивать их в формате интервью, как построить успешную ИТ-комнпаию.</p><p>20 резидентов попробуют все их советы на практике (в программе акселерации). А вы сможете не только наблюдать за этим процессом в режиме «онлайн» через систему «LeveL90», но и получить теже самые полезные и материалы: интервью, задания, книги, фильмы и так далее.</p></div></div></div><div class="container center"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae alias, odio totam quae minus reiciendis neque distinctio voluptatibus accusantium aliquid laboriosam, facere harum fuga reprehenderit vero veniam tenetur nemo. Veritatis voluptatum totam quasi nobis, et? Natus minus officia praesentium, nam deserunt laborum incidunt quia? Laudantium beatae maxime accusantium animi recusandae repellat voluptatem quam ipsum iste ipsam, libero quaerat, hic culpa! Nihil praesentium commodi quisquam atque soluta ex provident assumenda eos, amet esse facilis error, optio minima libero ipsa vitae numquam reprehenderit cupiditate. Qui inventore veritatis, omnis dolorem et harum debitis nobis aspernatur possimus hic asperiores praesentium mollitia, excepturi nesciunt facilis.
</p></div><div class="container center"><p>Уже через пару месяцев мы выпустим клиентскую версию из beta-тестирования. А сейчас у вас есть уникальная возможность помочь нам в улучшении сисемы, попробуя ее бесплатно!</p><p><a class="btn blue block wide">Пройти интерактивный курс</a></p></div></main><footer><div class="link-bar"><div class="container"><div class="row"><div class="col s8 m8 l8"><div class="link-bar__links"><a href="http://level90.ru" target="_blank">О проекте</a><a href="mailto:lesenka@level90.ru?Subject=From%20Level90" target="_top">Поддержка</a></div></div><div class="col s4 m4 l4"><div class="link-bar__socbuttons"><ul><li><a href="https://vk.com/level90"><i class="link-bar__socbuttons-vk"></i></a></li><li><a href="https://www.facebook.com/School.Level90"><i class="link-bar__socbuttons-fb"></i></a></li><li><a href="https://twitter.com/Lesenka_LeveL90"><i class="link-bar__socbuttons-tw"></i></a></li></ul></div></div></div></div></div></footer><script src="javascripts/jquery/jquery.min.js"></script><script src="javascripts/right-menu.js"></script><script src="javascripts/js-trigger.js"></script><script src="javascripts/inputfile.js"></script><script src="javascripts/tabs.js"></script>
